{
  "presets": [
    [
      "@babel/preset-env", {
        "modules": "cjs",
        "targets": {
          "node": "6"
        }
      }
    ]
    
  ],

  "plugins": [
    "add-module-exports"
  ]
}
